/* additional customization on top of blueprint

note that you have to remove "quto" from ".container" in screen.css
to have the website left-aligned instead of centered (Blueprint default)
 */

/* NAVBAR */
.selected { font-weight: bold; }

ul.level-one { margin-bottom: 0px; padding-left: 1em; }
ul.level-two { margin-bottom: 0px; margin-top: 0px; padding-left: 1em; }
ul.level-three { margin-top: 0px; padding-left: 1em; }

ul.level-one LI { list-style-type: none; margin-right: 5px; }
ul.level-two LI { list-style-type: none; margin-right: 5px; }
ul.level-three LI { list-style-type: none; margin-right: 5px; }
.level-one a:link { text-decoration: none; }
.level-one a:visited { text-decoration: none; }
.level-one a:hover { text-decoration: underline; }


/* additional styles */
.nobullet { list-style-type:none }
.noindent { padding-left: 0px }

/* reset blueprint CSS table details */
tbody tr:nth-child(even) td, tbody tr.even td {background:white;}
.odd { background: #DEEFFD; }
.even { background: white; }

.extralarge {font-size: 1.8em;}

.container { 
    background: #DEEFFD;
    /* make the site left-aligned instead of centered in the browser */  
    margin-left: 0px; 
    margin-right: auto;
}

.header {
    background: #07508C;
    padding-top:10px;
    padding-bottom:10px;
    color: #DEEFFD;
    overflow: hidden;
    font-size: 2.5em;
}

.footer {
    padding-top:10px;
    padding-bottom:10px;
    color: #07508C;
    overflow: hidden;
}

.sidebar {
    padding-top:10px;
    padding-bottom:10px;
    color: #07508C;
}

.content {
    background: white;
    padding-top: 10px;
    padding-bottom:10px;
}

/* duplicate of .error as .errorlist is used by Django form validators */
ul.errorlist {
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd; 
    color:#8a1f11;
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
   list-style-type:none; 
}

.error {
    background: #FBE3E4 url(../images/error.png) 5px no-repeat;
    color: #8a1f11; 
    border-color: #FBC2C4;
    padding-left: 4em;
}

/* minor restyling of Blueprint CSS elements (usually color change) */
.box {
    padding:1.5em;
    margin-bottom:1.5em;
    background:#85C6FD;
}

/* log viewer messages */
.log-error { color: red; background-color: #85C6FD; font-size: 140%;  } 
.log-warning { color: orange; background-color: #07508C } 
.log-info { color: #07508C } 
.log-debug { color: #27669A }
.log-debug2 { color: #27669A }

pre {margin:0;line-height:1.5;white-space:pre;}
/*
http://colorschemedesigner.com/#3y11JvrDLo3YI
.primary-1 { background-color: #106FBD }
.primary-2 { background-color: #27669A }
.primary-3 { background-color: #07508C }
.primary-4 { background-color: #85C6FD }
.primary-5 { background-color: #DEEFFD }
*/
