{% comment %}
  This snippet displays form fields in order defined in form definition
  (typically forms.py) and all necessary class atttibutes.
  It exists to avoid retyping of the same code for every form.
  It should be usable just by including this piece of code in the template
  to display and process form:
  
  <form action="{% url *FORM_URL* %}" method="post">{% csrf_token %}
    {% include form_snippet.html %}
    <div class="form-actions">
      <input type="submit" class="btn btn-large btn-primary" value="*SUBMIT_BUTTON_TEXT*" />
    </div>
  </form>

  If forms need further customization, use this piece as a template for
  custom form fields and modify accordingly
{% endcomment %}

{% for error in form.non_field_errors %}
  <div class="alert alert-error">{{ error }}</div>
{% endfor %}

{% for field in form %}
  {% if not field.is_hidden %}
    <div class="control-group{% if field.errors %} error{% endif %}" id="control-group-{{ field.name }}">
      <label for="{{ field.id_for_label }}" class="control-label{% if not field.field.required %} muted{% endif %}">{{ field.label }}</label>
      <div class="controls">
        <div class="input">
          {{ field }}
          <span class="help-inline">
            {% if field.errors %}
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            {% else %}
              {{ field.help_text }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  {% else %}
    {{ field.as_hidden }}
  {% endif %}
{% endfor %}
