<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom.css" type="text/css" media="screen, projection">	

    <title>Medical Apps | {% block title %}Title{% endblock %}</title>

<style>
{% block extrastyle %}
{% endblock %}
</style>

{% block head %}
{% endblock %}

</head>

<body>
<div class="container">

	<div class="header span-24 last">
	  <div class="prepend-1 span-23 last">
        {% block header %}
            Medical Apps
        {% endblock %}
    </div>
	</div>
	<div class="sidebar span-5">
        {% block sidebar %}
        {% endblock %}
  </div>

	<div class="content prepend-1 span-18 last">
        {% block content %}
        {% endblock %}
	</div>

	<div class="footer span-24 last">
	    <div class="prepend-2 quiet small">
        {% block footer %}
        {% endblock %}
      </div>
	</div>

</div>

</body>
</html>
