{% extends "glukokortikoidy/base.html" %}

{% load static %}

{% block title %}
    {{ block.super }} Vlozit hodnoty
{% endblock %}

{% block head %}
  {{ block.super }}
  <script src="{% static 'js/collections.min.js' %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
      function roundToTwo(num) {
        return +(Math.round(num + "e+2") + "e-2");
      }

      function isNumber(value) {
        if (isNaN(value)) {
          return false;
        }
        x = parseFloat(value);
        if (Number(x) === x && x % 1 ===0) { return true };  // int
        if (Number(x) === x && x % 1 !==0) { return true };  // float
        return false;
      }

      var base_ratios = Dict({
          betamethason: 0.75,
          cortison: 25.0,
          dexamethason: 0.75,
          hydrocortison: 20.0,
          metylprednisolon: 4.0,
          prednisolon: 5.0,
          prednison: 5.0,
          triamcinolon: 4.0
      });
      var elements =  base_ratios.items();

      function recalculate(field_name, value) {
        if (value) {
          value = value.replace(',', '.');
          if (isNumber(value) ) {

            // clear any possible "error" states on fields
            $('div[id^="field_"]').each(function() {
              $(this).removeClass('has-danger');
            });

            var base_value = base_ratios.get(field_name)
            var ratio = value / base_value

            elements.forEach(function(elem){
              var name = elem[0];
              if (name != field_name) {  // don't interfere with the user typing
                var base_value = elem[1];
                var new_value = roundToTwo(base_value * ratio);
                $('input[name="'+name+'"]').val(new_value);
              };
            });

          } else {
            // mark input as invalid, not a number
            $('div[id="field_'+field_name+'"]').addClass('has-danger');
          };

        };
      };

    </script>

{% endblock %}

{% block content %}

  <h2>Glukokortikoidy (mg)</h2>
  <p />
  <form>
    <div class="form-group">
      {% for field in form %}
        <div class="form-group row" id="field_{{ field.name }}">
          <label class="col-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
          <div class="col-8">
             <input type="text"
                    class="form-control"
                    name="{{ field.name }}"
                    id="{{ field.name }}"
                    onkeyup="recalculate(this.name, this.value)"
                     />
             <span class="help-inline" id="err_{{ field.name }}" ></span>
             {% if field.errors %}{% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}{% endif %}
          </div>
          </label>
        </div>
      {% endfor %}
    </div>
  </form>

{% endblock %}
