{% extends "base-bootstrap.html" %}

{% load static %}
{% load dajaxice_templatetags %}

{% block head %}
  {% dajaxice_js_import %}
  <script src="{% static 'js/jquery-1.9.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/jquery.dajax.core.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}
    Glukokortikoidy |
{% endblock %}

{% block header %}
    {{ block.super }} > Glukokortikoidy
{% endblock %}

{% block content-hero %}
    {{ block.super }}
{% endblock %}
