{% extends "common/base-bootstrap.html" %}

{% block title %}
    DNA |
{% endblock %}

{% block header %}
    {{ block.super }} > DNA Sample Matching
{% endblock %}

{% block navbar %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'match_dna_sample' %}">Reference Matching</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sequencer' %}">Sequencer</a>
          </li>
        </ul>
{% endblock %}


{% block content %}
    {{ block.super }}
{% endblock %}

