{% extends "dna/base_dna.html" %}

{% block title %}
    {{ block.super }} Sequencer | Select Reference DNA
{% endblock %}

{% block content %}
    <h2>Sequencer - Select Reference DNA</h2>

    <p />

    <form action="{% url 'sequencer_select_reference' %}" method="post">{% csrf_token %}
      {% include "common/form_snippet.html" %}
      <input type="submit" class="btn btn-large btn-primary" value="Select" />
    </form>

   <br />
   <p>
     You can also enter a one-off temporary reference. <a href="{% url 'sequencer_input_reference' %}" class="btn btn-secondary">Do It</a>
   </p>
{% endblock %}
