{% extends "dna/base_dna.html" %}
{% load dna %}

{% block title %}
    {{ block.super }} Sequencer
{% endblock %}

{% block content-hero %}
    <h3>Sequencer</h3>

    {% if reference_DNA %}
      Selected reference DNA: {{ reference_DNA }}

      {% if samples %}
        Added samples: {{ samples|length }}

        {% for sample in samples %}
          {{ sample.dna|shorten }}
        {% endfor %}
      {% else %}
        No samples added yet
      {% endif %}

      <a href="{% url 'add_to_sequencer' %}" class="btn btn-primary">Add Sample</a>

      <a href="{% url 'sequencer_result_for_print' %}" class="btn">Show Results</a>
      <a href="{% url 'reset_sequencer' %}" class="btn">Start Over</a>

    {% else %}
      No reference DNA selected <a href="{% url 'sequencer_select_reference' %}" class="btn btn-large">Select</a>
    {% endif %}

{% endblock %}
